# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	Замените свои глаза на паучьи в робохирурге для получения постоянного ночного зрения!
	Динамическое освещение можно включать и выключать. Загляните в настройки управления для получения дополнительной информации.
	Пузырьки не иссушают источник воды. Используя пузырьки с водой, чтобы наполнить котел/таз, а затем опустошив его ведром, вы получите бесконечное количество воды без необходимости использовать лед или реку.
	Губка может на ранних стадиях придать тинкеровским инструментам шелковое касание
	Монстры не смогут появиться в пустотном измерении, если вы их не призовете.
	Если вы собираетесь использовать голосовой чат, не привязывайте push-to-talk и veinmine на одну клавишу.
	Пустота никогда не прощает и никогда не забывает.
	Ешьте время от времени. Еда не даст вам умереть и может дать ценные баффы.
	Bloodmagic Eldritch Will ритуал из мода Animus может очистить несколько чанков от загрязнения и снабдить ауру сырой демонической волей!
	Свечи - отличный источник света в начале игры.
	Вы знали, что на этой сборке есть Gregtech? Не пишите об этом в Reddit.
	Стартовый остров частично состоит из терракоты.
	Soaryn однажды сыграл на этой сборке!
	Вы можете перевернуть свою космическую станцию, чтобы на ней всегда была ночь. Очень полезно для Astral Sorcery!
	Создайте как можно раньше просеиватель из GTCE, чтобы лучше обрабатывать драгоценные камни.
	Вода бесконечна только в речном и океанском биоме.
	Конвейеры для ранних этапов игры также могут перемещать жидкости.
	Пасеки из Rustic не только производят вам соты, но и способствуют росту урожая.
	Каменные бочки это самое дешевое жидкостное хранилище на ранней стадии.
	Если вы не можете найти бедрок на стартовом острове, спрыгните и посмотрите вверх.
	Ритуал Unmaking из мода Animus может разделять и клонировать зачарования.
	Neromantic Prime может собирать сотни тысяч ведер нефти практически везде!
	Culling ритуал из мода Animus может убивать иссушителя лучше, чем любая улучшенная машина за 25k LP в чанке с максимальной разрушительной волей.
	Творческая мельница - единственный источник GP.
	Пыль бесконечности - отличный источник порошка бесконечности и мобов.
	Ритуал Discidia убивает практически как игрок, вплоть до использования добычи V при подпитке звездным светом.
	Цифровые выжиматели монстров будут обеспечивать вас постоянным LP за RF, но действуют они медленно. Используйте ритуалы для быстрого получения LP.
	Мантии из Astral'a дают почти полный иммунитет к урону хаоса.
	В CEU есть слоты для батарей, поэтому внешний буфер не обязателен.
	Воздухосборник из GTCE может быстро производить воздух для центрифуг.
	Лучше всего перейти на сборщик более высокого уровня, как только это становится возможным.
	Menril деревья отлично подходят для ферм и дают полезные побочные продукты в центрифуге.
	Чтобы выйти за пределы EV, вам понадобятся многоблочные турбины.
	Зелья полета из Blood Magic доступны даже в LV.
	Чем сильнее вы, тем опаснее и разнообразнее ваши враги.
	Как только вы достигнете космоса, некоторые монстры могут начать игнорировать уровень освещения. Будьте готовы!
	В этой сборке нет мелков, потому что все они были съедены при разработке.
	Будет лучше, если вы не будете отвлекаться на такие глупые вещи, как коллекционирование попугаев.
	Эндер курица может существовать только на планете Аурелия.
	Botanical Fisher и Octans ритуал из Astral Sorcery - отличные источники рыбы!
	Всегда есть чем заняться, пока вы ждете окончание производства.
	Вам понадобится артефакт, чтобы полететь к экзопланетам Эвклидия и Аурелия.
	Хотя существуют возобновляемые источники энергии, такие как биодизель и древесный уголь, невозобновляемые источники энергии более эффективны и их можно приумножить за счет переработки.
	От чрезмерного ожидания у вас уже начинаетсяч нервный тик? Не беда, просто автоматизизруйте все подряд!
	Мистические лепестки Botania - лучший источник биомассы.
	Свинцовая краска, хоть и вкусная, но не съедобная.
	Масло можно значительно усилить с помощью канолы и звездного света.
	Вам не нужный спутники для открытия планет, но вам нужны артефакты, чтобы долететь до них.
	Проведение ритуала Vicio на вашей базе - отличный способ получения творческого полета для строительства.
	Свитки созвездий из Astral'a больше не встречаются в святилищах, вам придется создавать их самому.
	Отмечайте все жилы, которые вы найдёте во время исследования, так как они могут понадобиться вам позже.
	Используйте натрий для батарей, если вы не можете получить литий.
	Ритуал Mark of the Falling Tower из Blood Magic может принимать в качестве особых катализаторов звездную руду и блоки черного кварца.
	Поднимайте уровень ваших модулей данных. Это значительно повысит производительность симуляций Deep Mob Learning.
	Deep Mob Learning - начальный метод фарминга монстров.
	В данжах можно найти чертежи многоблочных структур, некоторые из которых очень мощные и могут упростить некоторые этапы развития.
	Надевайте скафандр в космосе, он предотвращает смерть от недостатка кислорода!
	В GregTech при разгоне машины в 2 раза он обрабатывает ресурсы вдвое быстрее, но с 4х-кратным потреблением, что в итоге вдвое увеличивает затраты EU.
	Многоблоки GregTech очень модульны. Вы можете поэкспериментировать с различными конфигурациями, что может упростить автоматизацию.
	Уровень 6 Blood Magic был полностью разработан модпакоделами. Во всех смыслах и целях его не существует. Пожалуйста, не жалуйтесь на баги авторам мода!
    >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=80
}
